@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Ubuntu:wght@300&display=swap");

body {
	font-family: "Overpass", "Arial", sans-serif;
	font-size: 16px;
}

#title,
button {
	font-family: "Ubuntu", "Arial", sans-serif;
}

button {
	padding: 15px 30px;
	border-radius: 25px;
	font-weight: bold;
}

section {
	margin-left: 150px;
	margin-right: 150px;
}

.blogr_title {
	font-size: 2.5rem;
}

/* LANDING SECTION */

#landing {
	margin: 50px 150px 150px 150px;
}

#landing * {
	align-items: center;
}

#landing header,
#landing header * {
	display: flex;
}

#landing nav {
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

#landing nav .nav-menu_container * {
	margin: 0px 10px;
}

#landing .nav-menu_button-container .button-container_menu-items {
	display: none;
}
