@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Ubuntu:wght@300&display=swap");

body {
	font-family: "Overpass", "Arial", sans-serif;
	font-size: 16px;
	margin: 0;
	overflow-x: hidden;
}

#title,
button {
	font-family: "Ubuntu", "Arial", sans-serif;
}

button {
	padding: 15px 30px;
	border-radius: 25px;
	font-weight: bold;

	margin-left: 7px;
	margin-right: 7px;
}

section .content_container,
footer .footer_container {
	margin-top: 120px;
	margin-left: 150px;
	margin-right: 150px;
}

section:nth-child(even):not(#landing) {
	padding-top: 100px;
	padding-bottom: 100px;
}

section header h2 {
	text-align: center;
}

.blogr_title {
	margin-right: 20px;
	font-size: 2.5rem;
}

h1 {
	font-size: 3.75rem;
}

h2 {
	font-size: 2.25rem;
}

h3 {
	font-size: 1.75rem;
}

p {
	line-height: 2;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav > ul {
	display: flex;
}

/* LANDING NAV SECTION */
#landing {
	color: white;
	background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));

	padding-bottom: 150px;
	border-radius: 0 0 0 60px;
}
#landing #landing_header {
	padding: 50px 150px 100px 150px;
}

#landing * {
	align-items: center;
}

#landing header,
#landing header * {
	display: flex;
}

#landing nav {
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

#landing nav .nav-menu_container * {
	margin: 0px 10px;
}

#landing .nav-menu_button-container .button-container_menu-items {
	display: none;
}

/* LANDING HERO */

#landing #hero {
	margin: auto;
	text-align: center;
}

#landing #hero h1 {
	margin-top: 100px;
	margin-bottom: 10px;
}

#landing #hero span {
	font-size: 19px;
}

#landing #hero div {
	margin-top: 50px;
}

/* SITE BODY */

section .full-width {
	margin-left: 0;
	margin-right: 0;
}
section .text-content {
	width: 40%;
}

section .graphic {
	width: 60%;
}

section .text-content div {
	margin-bottom: 100px;
}

section .content_header {
	margin-bottom: 100px;
}

section .content_container {
	display: flex;
}

section .graphic {
	position: relative;
}

section .graphic img {
	position: absolute;
}

section .graphic img.background {
	z-index: 1;
	bottom: -35%;
	left: -7%;
	height: 1000px;
}

section .graphic img.foreground {
	z-index: 10;
	height: 190%;
	left: 25%;
	bottom: -45%;
}

section .inverted {
	background: linear-gradient(145deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
	color: white;
	padding: 66px 80px;
	border-radius: 0 80px;
}

/* FOOTER */

footer {
	display: flex;
	color: white;
	background-color: hsl(237, 17%, 21%);
}
.footer_container {
	width: 100%;
}

footer nav {
	width: 100%;
	margin: 50px 20px 100px;
}

footer nav > ul {
	justify-content: space-evenly;
}

footer nav ul li > ul {
	margin-top: 30px;
}

footer nav ul li > ul li {
	margin-top: 15px;
}
